//Font Import
@import url('https://rsms.me/inter/inter-ui.css');

@supports (font-variation-settings: normal) {
  html,body { font-family: 'Inter UI var alt', sans-serif; }
}
@font-face{
  font-family: 'Inter';
  src: url(../fonts/Inter-UI-Regular.woff);
  font-weight: 300 !important;
}

$primary: #fff;
$btnprimary: #F01D1D;
$Head: #120404;
$bckSection: #f9f9f9;
$subHead: #353531;
$pColor: #575757;
$footerColor: #000000;
//font letter spacing var
$font18px: -0.008em;
$font20px: -0.011em;
$font40px: -0.017em;
$font30px: -0.016em;
$font24px: -0.014em;
$font16px: -0.005em;

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html,body { 
  position: relative;
  font-family: 'Inter UI', sans-serif; 
  line-height: 1.6;
  font-size: 16px;
  transition: all 0.5s ease-in-out;
  box-sizing: border-box;
}
.row{
  width: 100%;
  padding: 120px 0px 130px 0px;
}
img {
  vertical-align: middle;
  border-style: none;
}
.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.wrap{
  width:100%;
}
.left{
  text-align: left !important;
  margin-bottom: 20 !important;
}
.col-12{
  flex: 0 0 100%;
}
.col-3{
  flex: 0 0 33%;
}
.strong{
  font-weight: 600;
}
.bgk_change{
  width: 100%;
  background: $bckSection;
}
#school-bck{
  width: 100%;
  min-height: 473px;
  background-color: #F45B69;
  background: url("https://frednyame.github.io/GhanaSoccerEducationNetwork/images/bcgSchool.svg");
  background: linear-gradient(top right,rgba(249,249,249, 0.95), rgba(249, 249, 249, 0.95)), url("https://frednyame.github.io/GhanaSoccerEducationNetwork/images/bcgSchool.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.top_heading, .sub_heading{
  color: $Head;
  text-align: center;
  line-height: 1.4;
}
.top_heading{
  font-size: 2.65rem;
  margin-bottom: 3.75rem;
  letter-spacing: $font40px;
}
.text-mt2{
  margin-bottom: 2rem;
}
.sub_heading{
  font-size: 2.2rem;
  margin-bottom: 1rem;
  letter-spacing: $font20px;
}
.subtagline{
  max-width: 646px;
  width: 100%;
  font-size: 18px;
  margin-bottom: 80px;
  letter-spacing: $font20px;
}
.col-row{
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(348px, 1fr)); 
  .col-3{
    //background: $primary;
    border-radius: 4px;
    padding: 60px 20px 50px 20px;
    //box-shadow: 0 5px 20px -8px rgba(0,0,0,.15), 0 0 1px 0 rgba(26,27,31,.05);
    margin: 0 5px;
    .sub_heading{
      font-size: 20px;
      margin-bottom: 20px;
      text-align: left;
    }
    .img-sub-svg{
      width: 80px;
      margin: 0 auto 30px auto;
    }
  }
  .col-p{
    color: $pColor;
    font-size: 18px;
    letter-spacing: $font18px;
  }
}

/* Mobile Breakpoints */
//Landscape
@mixin mediaLG {
  @media screen and (max-width: 1025px){
    @content;
  }
}
//Tablet
@mixin mediaMd {
  @media screen and (max-width: 769px){
    @content;
  }
}
@mixin mediaMdS {
  @media screen and (max-width: 669px){
    @content;
  }
}
@mixin mediaMdSS {
  @media screen and (max-width: 500px){
    @content;
  }
}
//iphone smartphones
@mixin mediaSm {
  @media screen and (max-width: 460px){
    @content;
  }
}
//Samll smartphones
@mixin mediaSx {
  @media screen and (max-width: 376px){
    @content;
  }
}