@include mediaLG{
  #about, #contact, #appliacation{
    //text-align: left;
  }
header.top{
  .header-container{
    max-width: 1000px;
    padding: 10px 10px 0px 10px;
    .main_nav{
      display: flex;
      width: 320px;
      flex-direction: column;
      position: fixed;
      right: 0px;
      top: 0;
      bottom: 0;
      padding: 4.5rem 0;
      //height: 100vh;
      min-height: 100%;
      background: #333;
      transform: translate3d(320px, 0, 0);
      z-index: 4000;
      .nav_ul{
        display: block;
        .nav_li{
          padding: 24px 80px 24px 36px;
          border-top: 1px solid #3d4242;
          transition: all 0.5s ease-in-out;
          transform: translate3d(600px, 0, 0);

          &.right-show{
            transform: translate3d(0,0,0);
          }
        }
        .nav_li:last-child{
          padding: 24px 80px 24px 36px;
        }
        //For loop in Scss
        @for $x from 1 to 6 {
          .nav_li:nth-child(#{$x}){
            transition-delay: $x * 0.1s;
          }
        }
      }
    }
    /*for js toggle*/
    .right-show{
      transform: translate3d(0px, 0, 0);
    }
    .mobile-container{
      display: block;
    }
  }
}
.container{
  max-width: 1000px;
}
#banner{
  .container{
    h1{
      font-size: 4rem;
    }
  }
}
}

/* Tablet Screen Styling*/
@include mediaMd{
  #contact-form-bck .contact-bck{
    width: 100%;
    top: -259px;
  }
.wrapper{
  width: 100%;
}
.down-arrow{
  display: none;
}
#founders{
  .container{
    .row-founder{
      flex-direction: column;
      margin: 40px auto;
      .img-founder{
        flex-basis: 100%;
        height: 400px;
        order: 1;
      }
      .p-founder{
        flex-basis: 100%;
        order: 2;
        padding: 1.5rem 1rem;
      }
    }
  }
}
footer{
  h2.top_heading{
    font-size: 30px;
    letter-spacing: $font30px;
  }
  .container{
    .main-footer{
      flex-direction: column;
      align-items: center;
      margin-bottom: 4rem;
      .logo{
        width: 30%;
        text-align: center;
        margin: 0 auto 4rem auto; 
      }
      .subform{
        width: 90%;
        margin-bottom: 4rem;
      }
      .quick-links{
        width: 100%;
        text-align: center;
        #p-quick-link-header{
          margin-bottom: 1rem;
        }
      }
    }
  }
}
}

@include mediaMdS{
  .faq-container{
    padding: 20px 20px;
  }
  #action{
    flex-direction: column;
    .sub_heading{
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}

@include mediaMdSS{
  #app-form{
    padding-bottom: 10px;
  }
  #appliacation{
    #banner{
      margin-top: 20px;
      h1{
        font-size: 2.3rem;
      }
    }
  }

  footer .container .social{
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  }
  .main-footer{
    .logo{
      width: 50% !important; 
    }
  }
  .faq-container{
    padding: 20px 10px;
    .faq-bck{
      .faq-show{
        font-size: 18px;
        letter-spacing: $font18px;
      }
      .faq-words{
        font-size: 16px;
        letter-spacing: $font16px;
      }
    }
  }

.form-wrapper {
  padding: 50px 10px 0 10px;
}
.quick-contact{
  flex-direction: column;
  align-items: center;
  text-align: center;
   .quick-info{
    margin-bottom: 30px;
  }
}
}
/* Smartphones Screen Styling*/
@include mediaSm{
/* header.top{
  .header-container{
    .main_nav{
      //width:240px;
    }
  }
} */
.showcase{
  //min-height: 100vh;
  //height: 0;
}
/*Header banner Styling*/
#about, #contact, #appliacation{
  #banner{
    top: 55%;
    transform: translateY(-55%);
  }
}
#banner{
  //margin-top: 18vh;
  .container{
    h1{
      font-size: 50px;
      line-height: 1.6;
      margin-bottom: 0;
    }
    .welcome{
      font-size: 14px;
      letter-spacing: 0em;
      margin-bottom: 1.5rem;
    }
    .tagline{
      font-size: 18px;
      letter-spacing: $font18px;
      margin-bottom: 0;
    }
  }
}
#about, #contact{
  min-height: 420px;
}
.top_heading{
  font-size: 34px;
  letter-spacing: $font30px;
  padding: 0 10px;
}
.col-row{
  .col-p{
    font-size: 1rem;
    letter-spacing: $font16px;
  }
}
.mission_p{
  font-size: 18px;
  letter-spacing: $font18px;
}
.sub_heading{
  font-size: 30px;
  letter-spacing: $font30px;
}
.wrapper{
  width: 100%;
  .slide-wrap{
    .words{
      flex-direction: column;
    }
  }
}
.faq-conatiner{
  padding: 20px 10px;
  .faq-bck{
    .faq-show{
      font-size: 16px;
      letter-spacing: $font16px;
    }
  }
}
}

/* Small Smartphones Screen Styling*/
@include mediaSx{

}