@include mediaLG{
header.top{
  .header-container{
    max-width: 1000px;
    padding: 10px 10px 0px 10px;
    .main_nav{
      display: flex;
      width: 250px;
      flex-direction: column;
      position: fixed;
      right: 0px;
      top: 0;
      bottom: 0;
      height: auto;
      min-height: 100vh;
      background: #1a1a1a;
      transform: translate3d(320px, 0, 0);
      z-index: 4000;
      overflow-y: scroll;
      .nav_ul{
        display: block;
        padding-top:4rem;
        .nav_li{
          padding: 0px;
          transition: all 0.3s ease-in-out;
          transform: translate3d(600px, 0, 0);
          margin: 0;
          &:hover{
            background: #272525;
            transition-delay: 0s;
          }
          &.right-show{
            transform: translate3d(0,0,0);
          }
          a{
            display:inline-block;
            width: 100%;
            padding: 15px 20px;
          }
        }
        .nav_li:last-child{
          padding: 24px 80px 24px 26px;
          a{
            width: auto;
          }
          &:hover{
            background: inherit;
          }
        }
        //For loop in Scss
        @for $x from 1 to 7 {
          .nav_li:nth-child(#{$x}){
            transition-delay: $x * 0.1s;
          }
        }
        #main-dropdown{
          display: block;
          #dropdown-menu{
            position: relative;
            top:0px;
            left:-17px;
            a{
              padding: 0px 20px;
              margin: 10px;
            }
          }
        }
      }
    }
    /*for js toggle*/
    .right-show{
      transform: translate3d(0px, 0, 0);
    }
    .mobile-container{
      display: block;
    }
  }
}
.container{
  max-width: 1000px;
}
#banner{
  .container{
    h1{
      font-size: 3rem;
    }
  }
}
}

/* Tablet Screen Styling*/
@include mediaMd{
  #contact-form-bck .contact-bck{
    width: 100%;
    top: -259px;
  }
.wrapper{
  width: 100%;
}
.down-arrow{
  display: none;
}
#founders{
  .container{
    .row-founder{
      flex-direction: column;
      margin: 40px auto;
      .img-founder{
        flex-basis: 100%;
        height: 400px;
        order: 1;
      }
      .p-founder{
        flex-basis: 100%;
        order: 2;
        padding: 1.5rem 1rem;
      }
    }
  }
}
#missionVision{
  display: flex;
  flex-direction: column;
  #mission{
    padding:100px 0;
  }
  #our-vision{
    padding:100px 0 0px 0;
    background: $bckSection;
  }
}
footer{
  h2.top_heading{
    font-size: 30px;
    letter-spacing: $font30px;
  }
  .container{
    .main-footer{
      flex-direction: column;
      align-items: center;
      margin-bottom: 4rem;
      .logo{
        width: 30%;
        text-align: center;
        margin: 0 auto 4rem auto; 
      }
      .subform{
        width: 90%;
        margin-bottom: 4rem;
      }
      .quick-links{
        width: 100%;
        text-align: center;
        #p-quick-link-header{
          margin-bottom: 1rem;
        }
      }
    }
  }
}
.blog-container{
  padding: 0 5px !important;
}
.blog-card{
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin: 0 auto 0px auto;
  margin-bottom: 50px !important;
  .blog-img{
    min-height: 260px !important;
    height: 260px !important;
  }
  .blog-info{
    flex-basis: 100%;
    position: static !important;
    padding: 20px 0px 0px 0px !important;
    .blog-title{
      h4{
        position: static !important;
        left: auto !important;
        font-size: 22px !important;
      }
    }
    .blog-exempt{
      position: static !important;
    }
    .strong{
      position: static !important;
    }
  }
}
.blog-card:nth-child(even){
  .blog-img{
    order: 1 !important;
  }
  .blog-info{
    order: 2 !important;
  } 
}
}

@include mediaMdS{
  #row-athlete{
    padding-bottom: 0px;
  }
  .faq-container{
    padding: 20px 20px;
  }
  #action{
    flex-direction: column;
    .sub_heading{
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}

@include mediaMdSS{
  #banner{
    //margin-top: 20vh;
    .container{
      h1{
        font-size: 2.8rem;
      } 
      .tagline{
        font-size: 1rem;
      }
    }
  }
  #app-form{
    padding-bottom: 10px;
    .form-wrapper{
      padding: 50px 10px 0 10px;
    }
  }
  #appliacation{
    #banner{
      //margin-top: 20px;
      h1{
        font-size: 2.3rem;
      }
    }
  }
  #resource, #athlete, #blog{
    #banner{
      h1{
        font-size: 3rem;
      }
    }
  }

  footer .container .social{
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  }
  .main-footer{
    .logo{
      width: 50% !important; 
    }
  }
  .faq-container{
    padding: 20px 10px;
    .faq-bck{
      .faq-show{
        font-size: 18px;
        letter-spacing: $font18px;
      }
      .faq-words{
        font-size: 16px;
        letter-spacing: $font16px;
      }
    }
  }

.form-wrapper{
  padding: 50px 10px 0 10px;
}
.quick-contact{
  flex-direction: column;
  align-items: center;
  text-align: center;
   .quick-info{
    margin-bottom: 30px;
    padding: 2rem;
  }
}
}
/* Smartphones Screen Styling*/
@include mediaSm{
/* header.top{
  .header-container{
    .main_nav{
      //width:240px;
    }
  }
} */
.showcase{
  //min-height: 100vh;
  //height: 0;
}
/*Header banner Styling*/
#about, #contact, #appliacation{
  #banner{
    top: 55%;
    transform: translateY(-55%);
  }
}
#banner{
  margin-top: 20px;
  .container{
    h1{
      font-size: 30px;
    }
    .welcome{
      font-size: 14px;
      letter-spacing: 0em;
      margin-bottom: 1.5rem;
    }
    .tagline{
      margin-bottom: 0;
    }
  }
}
#about, #contact{
  min-height: 420px;
}
.left{
  padding: 0 !important;
  margin-bottom: 20px;
}
.top_heading{
  font-size: 34px;
  letter-spacing: $font30px;
  padding: 0 10px;
}

.col-row{
  .col-p{
    font-size: 1rem;
    letter-spacing: $font16px;
  }
}
.mission_p{
  font-size: 18px;
  letter-spacing: $font18px;
}
.sub_heading{
  font-size: 30px;
  letter-spacing: $font30px;
}
.wrapper{
  width: 100%;
  .slide-wrap{
    .words{
      flex-direction: column;
    }
  }
}
.faq-conatiner{
  padding: 20px 10px;
  .faq-bck{
    .faq-show{
      font-size: 16px;
      letter-spacing: $font16px;
    }
  }
}
}

/* Small Smartphones Screen Styling*/
@include mediaSx{
.top-arrow{
  right: 30px;
}
}