@include mediaLG{
header.top{
  .header-container{
    .main_nav{
      display: flex;
      width: 320px;
      flex-direction: column;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 4.5rem 0;
      height: 100vh;
      background: #333;
      z-index: 4000;
      .nav_ul{
        display: block;
        .nav_li{
          padding: 24px 80px 24px 36px;
          border-top: 1px solid #3d4242;
        }
        .nav_li:last-child{
          padding: 24px 80px 24px 36px;
        }
      }
    }
    .mobile-container{
      display: block;
    }
  }
}
}
@include mediaMd{

}
@include mediaSm{

}
@include mediaSx{

}
