.showcase{
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background: linear-gradient(top right, #000000, #353531);
  overflow-y: hidden;
}
/*Header banner Styling*/
#about, #contact, #appliacation, #resource, #athlete{
  #banner{
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: 0px;
    transform: translateY(-50%);
  }
}
#about, #contact{
  min-height: 500px;
}
#appliacation, #resource, #athlete{
  min-height: 300px;
  #banner{
    margin-top: 20px;
  }
}
#appliacation{
  #banner{
    h1{
      font-size: 3rem;
    }
  }
}
#resource, #athlete{
  #banner{
    h1{
      font-size: 4rem;;
    }
  }
}
#home, #about, #contact, #appliacation, #resource, #athlete{
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#home{
  background: linear-gradient(top right,rgba(0,0,0,0.4), rgba(53, 53,49, 0.6)), url("https://frednyame.github.io/GhanaSoccerEducationNetwork/images/banner.png");
}
#about{
  background: linear-gradient(top right,rgba(0,0,0,0.4), rgba(53, 53,49, 0.6)), url("https://frednyame.github.io/GhanaSoccerEducationNetwork/images/behind.png");
}
#contact{
  background: linear-gradient(top right,rgba(0,0,0,0.4), rgba(53, 53,49, 0.6)), url("https://frednyame.github.io/GhanaSoccerEducationNetwork/images/contactBanner.png");
}
#appliacation{
  background: linear-gradient(top right,rgba(0,0,0,0.4), rgba(53, 53,49, 0.6)), url("https://frednyame.github.io/GhanaSoccerEducationNetwork/images/appBanner.png");
}
#resource{
  background: linear-gradient(top right,rgba(0,0,0,0.4), rgba(53, 53,49, 0.6)), url("https://frednyame.github.io/GhanaSoccerEducationNetwork/images/resourceBck.png");
}
#athlete{
  background: linear-gradient(top right,rgba(0,0,0,0.4), rgba(53, 53,49, 0.6)), url("https://frednyame.github.io/GhanaSoccerEducationNetwork/images/bckAthlete.png");
}
header{
  width: 100%;
  transition: top 0.5s ease-in-out;
 &.top{
  position: absolute;
  background: transparent;
  top:0;
  z-index: 10;
  .header-container{
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0px;
    align-items: center;
    justify-content: space-between;
    .logo{
      width: 105px;
      padding-top: 20px;
    /*   a{
        display: none;
        color: $primary;
      } */
    }
    .main_nav{
      display: flex;
      transition: all 0.5s ease-in-out;
      .nav_ul{
        display: flex;
        align-items: center;
        .nav_li{
          padding: 0 20px;
          //margin: 0 20px;
          a{
            font-size: 0.83rem;
            color: $primary;
            font-weight: 600;
            letter-spacing: 0.08em;
            &:hover{
              color: #ddd;
            }
          }
          .btn{
            margin: 0;
            padding: 8px 18px;
          }
        }
        #main-dropdown{
          position: relative;
          display: inline-block;
          #dropdown-menu{
            display: none;
            opacity: 0;
            position: absolute;
            background: #272525;
            min-width: 305px;
            top: 40px;
            transition: all 0.5s ease-in-out;
            .dropdown-li{
              a{
                display: inline-block;
                margin: 15px 10px;
                .dropdown-tagline{
                  display: block;
                  font-size: 12px;
                  font-weight: 200;
                }
              }
            }
            .dropdown-li:first-child{
              margin-top:10px;
            }
            .dropdown-li:last-child{
              margin-bottom: 5px;
            }
            &:before{
              position: absolute;
              content: '\f0d8';
              font-family: "FontAwesome";
              font-size: 50px;
              top: -44px;
              left: 10px;
              color: #272525;
            }
          }
          &:hover #dropdown-menu{
            display: block;
            opacity: 1;
          }
          &:after{
            content: '\f0d7';
            font-family: "FontAwesome";
            color: #fff;
          }
          &:hover:after{
            color: #ddd;
          }
        }
        .nav_li:last-child{
          padding: 0 0 0 20px
        }
      }
    }
    /*Mobile Nav*/
    .mobile-container{
      display: none;
      position: relative;
      cursor: pointer;
      border: 0;
      outline: 0;
      user-select: none;
      z-index: 5000;
      .menu{
        width: 25px;
        height: 2px;
        background: $primary;
        margin-bottom: 6px;
        transition: all 0.5s ease-in-out;
      }
    }
    /* Close Mobile Navigation */
    .change{
      position: fixed;
      right: 10px;
       /* Rotate first bar */
       #bar1 {
        transform: rotate(-45deg) translate(-4px, 3px) ;
      }
       /* Fade out the second bar */
       #bar2 {
        opacity: 0;
      }
        /* Rotate last bar */
       #bar3 {
        transform: rotate(45deg) translate(-8px, -8px) ;
      } 
    }
  }
}
 &.reveal{
  position: fixed;
  top : 50px; 
  transform: translateY(-50px);
  background:rgba(51,51,51,.50);
 }
}
#banner{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  margin-top: 20px;
  .container{
    .welcome{
      display: none;
      font-weight: 500;
      line-height: 1.5;
      margin-bottom: 0.5rem;
      color: $primary;
      letter-spacing: 0.08em;
    }
    h1{
      color: $primary;
      font-size: 3.5rem;
      line-height: 1.2;
      margin-bottom: 10px;
      text-shadow: 0 0.5px 2px rgba(0,0,0,.5);
    }
    .tagline{
      color: $primary;
      font-weight: 300;
      font-size: 1.13rem;
      line-height: 1.7;
      margin-bottom: 1rem;
      letter-spacing: $font18px;
    }
    a{
      color: $primary;
    }
  }

}
/*Down/ Top Arrow*/
.down-arrow, .top-arrow{
  bottom: 20px;
  cursor: pointer;
}
.down-arrow{
  position: absolute;
  width: 45px;
  left: 50%;
  transform: translateX(-50%);
  animation: bounce 1s alternate cubic-bezier(.5,.05,1,.5) infinite;
}
.top-arrow{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 10px;
  background: #F01D1D;
  border-radius: 50px;
  padding: 0.9em;
  transition: all 0.5s ease-in-out;
  transform: translateX(100px);
  z-index: 2;
  box-shadow: 0 5px 28px -8px rgba(0,0,0,0.8);
  svg{
    width: 100%;
  }
  &.show-top-arrow{
    transform: translateX(0px);
  }
}
