.showcase{
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(top right, #000000, #353531);
  overflow-y: hidden;
}
header{
  width: 100%;
}
header.top{
  position: absolute;
  background: transparent;
  z-index: 10;
  .header-container{
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0px;
    align-items: center;
    justify-content: space-between;
    a#logo{
      color: $primary;
    }
    .main_nav{
      display: flex;
      .nav_ul{
        display: flex;
        .nav_li{
          padding: 0 20px;
          a{
            font-size: 0.83rem;
            color: $primary;
            font-weight: 600;
            letter-spacing: 0.08em;
          }
        }
        .nav_li:last-child{
          padding: 0 0 0 20px
        }
      }
    }
    .mobile-container{
      display: none;
      position: relative;
      //padding: 2px;
      cursor: pointer;
      border: 0;
      outline: 0;
      user-select: none;
      z-index: 5000;
      .menu{
        width: 40px;
        height: 2px;
        background: $primary;
        margin-bottom: 8px;
      }
    }
  }
}
#banner{
  width: 100%;
  margin-top:15vh;
  .container{
    .welcome{
      font-weight: 500;
      line-height: 1.5;
      margin-bottom: 0.5rem;
      color: $primary;
      letter-spacing: 0.08em;
    }
    h1{
      color: $primary;
      font-size: 4.4rem;
      line-height: 1.4;
      margin-bottom: 1.2rem;
      text-shadow: 0 0.5px 2px rgba(0,0,0,.2);
    }
    .tagline{
      color: $primary;
      font-weight: 300;
      font-size: 1.13rem;
      line-height: 1.7;
      margin-bottom: 2rem;
    }
    a{
      color: $primary;
    }
  }

}