/*Section for the testimonial*/
#test-row{
  position: relative;
  z-index: 1;
  /*Svg background for the testimonial sction*/
  .bck-test{
    width: 300px;
    position: absolute;
    left: -53px;
    top: -80px;
    z-index: -1;
  }
}

/*Testimonials styling for the pictures and words*/
.wrapper{
  //overflow: hidden;
  //display: flex;
  //flex-flow: row nowrap;
  position: relative;
  max-width: 1000px;
  //height: 280px;
  //overflow: hidden;
  //width: 100%;
  //height: 280px;
  //align-items: flex-end;
  margin: 0 auto;
  //border: 2px solid red;
  //transition: transform 0.5s ease-in-out;
  .slide-wrap{
   //position: absolute;
   //top: 0;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   //width: 500%;
   //height: 100%;
   //z-index: -1;
   //transform: translateX(0);
   .words{
    display: none;
    position: relative;
    //display: flex;
    max-width: 609px;
    width: 100%;
    height: auto;
    min-height: 191px;
    margin-bottom: 5rem;
    //background: $primary;
    
    .words-img{
      position: absolute;
      //flex-basis: 30%;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      bottom: -72px;
      left: 14px;
      background: #333;
    }
    .words-p{
      width: 100%;
      //flex-basis: 70%;
      background: #fff;
      padding: 1.5rem;
      .word{
        position: relative;
        color: $pColor;
        font-size: 16px;
        padding: 2rem;
        letter-spacing: $font16px;
        z-index: 1;
        
          &:before {
            content: "“";
            color: #E0DDD7;
            font-family: georgia, serif;
            font-size: 12em;
            position: absolute;
            top: -70px;
            left: -3px;
            z-index: -1;
        }
      }
      .person{
        position: absolute;
        bottom: -40px;
        left: 140px;
        color: $Head;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
  }
  .prev,.next{
    position: absolute;
    width: 50px;
    height: 50px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
    color: #333;
    padding: 0 1rem;
    border-radius: 50%;
    opacity: 0.7;
    transition: opacity 0.5s ease-in-out;
    z-index: 1000;
  }
 /*  .prev{
    left: -2rem;
  } */
  .next{
    right: 0rem;
  }
  .prev:hover, .next:hover{
    opacity: 1;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
}

#img01{
  background: url("https://images.unsplash.com/photo-1546945586-a086b36a264f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
 }
 #img02{
   background: url("https://images.unsplash.com/photo-1546942113-a6c43b63104a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
 }
 #img03{
   background: url("https://images.unsplash.com/photo-1546962390-a1e498bd3e58?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
 }
 #img04{
   background: url("https://images.unsplash.com/photo-1546968350-3b364d5ad668?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1078&q=80");
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
 }
 #img05{
   background: url("https://images.unsplash.com/photo-1546920930-cfbd84a17b4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1134&q=80");
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
 }