@import url("https://rsms.me/inter/inter-ui.css");
@supports (font-variation-settings: normal) {
  html, body {
    font-family: 'Inter UI var alt', sans-serif;
  }
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-UI-Regular.woff);
  font-weight: 300 !important;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'Inter UI', sans-serif;
  line-height: 1.6;
  font-size: 16px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  width: 100%;
  padding: 120px 0px 130px 0px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.bgk_change {
  width: 100%;
  background: #fbfbfb;
}

.top_heading, .sub_heading {
  color: #120404;
  text-align: center;
  line-height: 1.4;
}

.top_heading {
  font-size: 2.65rem;
  margin-bottom: 3.75rem;
  letter-spacing: -0.017em;
}

.sub_heading {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  letter-spacing: -0.011em;
}

.col-row {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (minmax(348px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(348px, 1fr));
}

.col-row .col-3 {
  background: #fff;
  border-radius: 2px;
  padding: 40px 20px 90px 20px;
}

.col-row .col-3 .sub_heading {
  font-size: 20px;
  margin-bottom: 20px;
}

.col-row .col-p {
  color: #575757;
  font-size: 18px;
  letter-spacing: -0.008em;
}

/* Mobile Breakpoints */
.btn {
  display: inline-block;
  margin: 10px 0px;
  padding: 1.35rem 2.5rem;
  border-radius: 2px;
  font-weight: 600;
  font-size: 1.13rem;
  border: 0px;
  outline: 0px;
  -webkit-box-shadow: 0 15px 25px -8px rgba(0, 0, 0, 0.15), 0 0 1px 0 rgba(26, 27, 31, 0.05);
          box-shadow: 0 15px 25px -8px rgba(0, 0, 0, 0.15), 0 0 1px 0 rgba(26, 27, 31, 0.05);
  text-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.2);
}

.btn-primary {
  background: #F01D1D;
  color: #fff;
}

#pattern {
  text-align: center;
}

.showcase {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: -webkit-gradient(linear, right top, left bottom, from(#000000), to(#353531));
  background: linear-gradient(top right, #000000, #353531);
  overflow-y: hidden;
}

header {
  width: 100%;
}

header.top {
  position: absolute;
  background: transparent;
  z-index: 10;
}

header.top .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.top .header-container a#logo {
  color: #fff;
}

header.top .header-container .main_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header.top .header-container .main_nav .nav_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header.top .header-container .main_nav .nav_ul .nav_li {
  padding: 0 20px;
}

header.top .header-container .main_nav .nav_ul .nav_li a {
  font-size: 0.83rem;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.08em;
}

header.top .header-container .main_nav .nav_ul .nav_li:last-child {
  padding: 0 0 0 20px;
}

header.top .header-container .mobile-container {
  display: none;
  position: relative;
  cursor: pointer;
  border: 0;
  outline: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 5000;
}

header.top .header-container .mobile-container .menu {
  width: 30px;
  height: 2px;
  background: #fff;
  margin-bottom: 6px;
}

#banner {
  width: 100%;
  margin-top: 15vh;
}

#banner .container .welcome {
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  color: #fff;
  letter-spacing: 0.08em;
}

#banner .container h1 {
  color: #fff;
  font-size: 4.6rem;
  line-height: 1.4;
  margin-bottom: 1.2rem;
  text-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.2);
  letter-spacing: -0.017em;
}

#banner .container .tagline {
  color: #fff;
  font-weight: 300;
  font-size: 1.13rem;
  line-height: 1.7;
  margin-bottom: 2rem;
  letter-spacing: -0.008em;
}

#banner .container a {
  color: #fff;
}

.mission_p {
  max-width: 646px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
  color: #575757;
  letter-spacing: -0.011em;
}

.wrapper {
  position: relative;
  width: 60%;
  padding: 0 10px;
  margin: 0 auto;
}

.wrapper .slide-wrap .words {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 611px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  margin-bottom: 10px;
}

.wrapper .slide-wrap .words .words-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 240px;
  background: #333;
}

.wrapper .slide-wrap .words .words-p {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 2rem;
}

.wrapper .slide-wrap .words .words-p .word {
  color: #575757;
  font-size: 16px;
  letter-spacing: -0.005em;
}

.wrapper .slide-wrap .words .words-p .person {
  color: #120404;
  font-size: 14px;
  font-weight: 600;
}

.wrapper .prev, .wrapper .next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2rem;
}

.wrapper .next {
  right: 0;
}

footer {
  width: 100%;
  background: #0E1015;
  color: #fff !important;
}

footer.row {
  padding-bottom: 60px;
}

footer h2.top_heading {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 1rem;
}

footer .container .social {
  background: #fff;
  max-width: 400px;
  height: 50px;
  margin: 1rem auto 5rem auto;
}

footer .container .line {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  height: 1px;
  border: 0;
  background: #fff;
}

footer .container .main-footer {
  max-width: 900px;
  width: 100%;
  margin: 4rem auto 8rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .main-footer .logo {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

footer .container .main-footer .subform {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
  margin: 0 auto;
}

footer .container .main-footer .subform #p-subform {
  font-size: 18px;
  margin-bottom: 10px;
}

footer .container .main-footer .subform form {
  width: 100%;
}

footer .container .main-footer .subform form input {
  border: 0;
  border-radius: 2px;
  padding: 1rem;
}

footer .container .main-footer .subform form input[type="email"] {
  width: 100%;
  font-size: 14px;
  margin-bottom: 10px;
}

footer .container .main-footer .subform form input[type="submit"] {
  display: block;
  margin: 0 auto;
  font-size: 18px;
}

footer .container .main-footer .quick-links {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}

footer .container .main-footer .quick-links #p-quick-link-header {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

footer .container .main-footer .quick-links li {
  margin-bottom: 15px;
}

footer .container .main-footer .quick-links a {
  color: #fff;
  font-weight: 200;
}

footer .container .copyright {
  text-align: center;
}

/*Header banner Styling*/
#about {
  min-height: 580px;
  text-align: center;
}

#about #banner {
  position: absolute;
  top: 50%;
  margin-top: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/*Founders section Styling*/
#founders .row-founder {
  max-width: 1104px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#founders .row-founder .img-founder {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background: #fff;
}

#founders .row-founder .p-founder {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-size: 18px;
  letter-spacing: -0.008em;
  padding: 5rem 2rem 2.5rem 2rem;
  background: #E3E2E2;
}

#founders .row-founder .p-founder h4 {
  margin-bottom: 1rem;
}

#founders .row-founder .p-founder p {
  color: #575757;
}

/*Frequently Asked questions Styling*/
.faq-container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 100px;
}

.faq-container .faq-bck {
  width: 100%;
  border-bottom: 1px solid #707070;
  color: #575757;
}

.faq-container .faq-bck .faq-show {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  letter-spacing: -0.011em;
  font-weight: 500;
  padding: 1.4rem 1rem 1.4rem 0;
  cursor: pointer;
}

.faq-container .faq-bck .faq-show:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 10px;
}

.faq-container .faq-bck .faq-words {
  font-size: 18px;
  max-height: 0;
  overflow: hidden;
}

.faq-container > .faq-bck:last-child {
  border-bottom: 0px;
}

/*Register styling*/
#action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#action .sub_heading {
  margin-bottom: 0;
  margin-right: 30px;
}

@media screen and (max-width: 1025px) {
  header.top .header-container {
    max-width: 1000px;
    padding: 30px 10px;
  }
  header.top .header-container .main_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    right: 0px;
    top: 0;
    bottom: 0;
    padding: 4.5rem 0;
    height: 100vh;
    background: #333;
    z-index: 4000;
  }
  header.top .header-container .main_nav .nav_ul {
    display: block;
  }
  header.top .header-container .main_nav .nav_ul .nav_li {
    padding: 24px 80px 24px 36px;
    border-top: 1px solid #3d4242;
  }
  header.top .header-container .main_nav .nav_ul .nav_li:last-child {
    padding: 24px 80px 24px 36px;
  }
  header.top .header-container .mobile-container {
    display: block;
  }
  .container {
    max-width: 1000px;
  }
  #banner .container h1 {
    font-size: 4rem;
  }
}

/* Tablet Screen Styling*/
@media screen and (max-width: 769px) {
  .wrapper {
    width: 100%;
  }
  #founders .container .row-founder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 40px auto;
  }
  #founders .container .row-founder .img-founder {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 400px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #founders .container .row-founder .p-founder {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 1.5rem 1rem;
  }
  footer h2.top_heading {
    font-size: 30px;
    letter-spacing: -0.016em;
  }
  footer .container .main-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container .main-footer .logo {
    width: 100%;
    text-align: center;
  }
  footer .container .main-footer .subform {
    width: 80%;
  }
  footer .container .main-footer .quick-links {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }
  footer .container .main-footer .quick-links #p-quick-link-header {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 669px) {
  .faq-container {
    padding: 20px 20px;
  }
  #action {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #action .sub_heading {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .faq-container {
    padding: 20px 10px;
  }
  .faq-container .faq-bck .faq-show {
    font-size: 18px;
    letter-spacing: -0.008em;
  }
  .faq-container .faq-bck .faq-words {
    font-size: 16px;
    letter-spacing: -0.005em;
  }
}

/* Smartphones Screen Styling*/
@media screen and (max-width: 460px) {
  /* header.top{
  .header-container{
    .main_nav{
      //width:240px;
    }
  }
} */
  #banner .container h1 {
    font-size: 40px;
    line-height: 1.6;
    margin-bottom: 1rem;
  }
  #banner .container .welcome {
    font-size: 14px;
    letter-spacing: 0em;
    margin-bottom: 1.5rem;
  }
  #banner .container .tagline {
    font-size: 1rem;
    letter-spacing: -0.005em;
  }
  #about {
    min-height: 420px;
  }
  .top_heading {
    font-size: 34px;
    letter-spacing: -0.016em;
  }
  .col-row .col-p {
    font-size: 1rem;
    letter-spacing: -0.005em;
  }
  .mission_p {
    font-size: 18px;
    letter-spacing: -0.008em;
  }
  .sub_heading {
    font-size: 30px;
    letter-spacing: -0.016em;
  }
  .wrapper {
    width: 100%;
  }
  .wrapper .slide-wrap .words {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .faq-conatiner {
    padding: 20px 10px;
  }
  .faq-conatiner .faq-bck .faq-show {
    font-size: 16px;
    letter-spacing: -0.005em;
  }
}

/* Small Smartphones Screen Styling*/
/*# sourceMappingURL=main.css.map */